<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IFileServer" closeTimeout="00:01:00"
          openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
          maxBufferSize="409600" maxBufferPoolSize="9223372036854775807" maxReceivedMessageSize= "9223372036854775807"
          messageEncoding="Text" transferMode="Streamed"></binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileServer" transferMode="Streamed"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/FileServer.FileServer"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileServer"
                contract="FileServer.IFileServer" name="BasicHttpBinding_IFileServer" />
            <endpoint address="net.tcp://localhost:49234/FileServer.FileServer"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileServer"
                contract="FileServer.IFileServer" name="NetTcpBinding_IFileServer">
                <identity>
                    <userPrincipalName value="DESKTOP-G2E07QV\antko" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>